<div class="container">
  <h2>Modifier le mot de passe</h2>

  <!-- Afficher un message d'erreur -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Afficher un message de succès -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Formulaire de modification du mot de passe -->
  <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
    <div class="form-group">
      <label for="current_password">Mot de passe actuel</label>
      <input class="form-control" formControlName="current_password" id="current_password" type="password"/>
      <div *ngIf="passwordForm.get('current_password')?.touched && passwordForm.get('current_password')?.invalid"
           class="text-danger">
        Le mot de passe actuel est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="new_password">Nouveau mot de passe</label>
      <input class="form-control" formControlName="new_password" id="new_password" type="password"/>
      <div *ngIf="passwordForm.get('new_password')?.touched && passwordForm.get('new_password')?.invalid"
           class="text-danger">
        Le nouveau mot de passe doit contenir au moins 6 caractères.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
      <input class="form-control" formControlName="confirmPassword" id="confirmPassword" type="password"/>
      <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid"
           class="text-danger">
        La confirmation du mot de passe est requise.
      </div>
    </div>

    <button [disabled]="passwordForm.invalid" class="btn btn-primary" type="submit">Modifier le mot de passe</button>
    <span class="text-danger">Ou Mot de passe oublié ?</span>
    <button (click)="gotoresetpassword('/reset-password')" class="btn btn-primary" type="submit">Mot de passe oublié
    </button>


  </form>
</div>
