<nav class="bottom-bar">
  <a (click)="setActiveTab('/')" [class.active]="activeTab === '/'" routerLink="/">
    <i class="fa fa-home"></i>
    <span>Accueil</span>
  </a>

  <a (click)="setActiveTab('products')" [class.active]="activeTab === 'products'" routerLink="/products">
    <i class="fa fa-mobile"></i>
    <span>Produits</span>
  </a>
  <a (click)="toggleCart()" [class.active]="activeTab === 'cart'" class="cart-link position-relative"
     routerLink="/cart">
    <span *ngIf="!isCartOpen &&cartItems.length > 0"
          class="badge text-bg-danger cart-badge">{{ cartItems.length }}</span>
    <i class="fa fa-shopping-cart fa-lg"></i>

    <span>Panier</span>
  </a>


  <a (click)="setActiveTab('profile')" [class.active]="activeTab === 'profile'" routerLink="/profil">
    <i class="fa fa-user"></i>
    <span>Profil</span>
  </a>

  <a (click)="setActiveTab('settings')" [class.active]="activeTab === 'settings'" routerLink="/settings">
    <i class="fa fa-cog"></i>
    <span>Paramètres</span>
  </a>
</nav>

