<div class="container mb-5 mt-3">
  <h2>Politiques de Retour</h2>
  <p>
    Nous nous engageons à offrir une expérience d'achat agréable et transparente. Si vous n'êtes pas satisfait de votre
    achat, voici nos politiques de retour :
  </p>

  <div class="policy-section">
    <div class="policy-item">
      <h3><i aria-hidden="true" class="fa fa-history"></i> Délai de Retour</h3>
      <p>
        Vous pouvez retourner vos produits dans un délai de 30 jours après la réception de votre commande. Les produits
        doivent être retournés dans leur état d'origine et dans leur emballage d'origine.
      </p>
    </div>
    <div class="policy-item">
      <h3>Conditions de Retour</h3>
      <p>
        Les produits retournés doivent être inutilisés et en parfait état. Si l'article a été ouvert ou utilisé, nous
        nous réservons le droit de refuser le retour.
      </p>
    </div>
    <div class="policy-item">
      <h3>Frais de Retour</h3>
      <p>
        Les frais de retour sont à la charge de l'acheteur, sauf si le produit est défectueux ou erroné.
      </p>
    </div>
    <div class="policy-item">
      <h3>Remboursement</h3>
      <p>
        Une fois que nous aurons reçu le produit retourné et validé qu'il respecte nos conditions de retour, nous
        procéderons à un remboursement dans un délai de 7 jours.
      </p>
    </div>
  </div>

  <!-- Button Section -->
  <div class="container-btn mb-3 text-center">
    <button (click)="goToPage('/profile')" class="btn custom-btn">Retour à mon profil</button>
  </div>
</div>
