<div class="container mt-5">
  <div *ngIf="user" class="user-profile-card">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>

    <!-- Liste des options -->
    <ul class="profile-options">
      <li (click)="goToPage('/mes-commandes')">
        <ion-icon class="ion-icon" name="cart"></ion-icon>  <!-- Panier -->
        <span>Mes commandes</span>
        <span class="badge badge-primary">(3)</span>
        <ion-icon class="arrow-icon" name="chevron-forward" slot="end"></ion-icon>
      </li>
      <li (click)="goToPage('/historique')">
        <ion-icon class="ion-icon" name="time"></ion-icon>  <!-- Historique -->
        <span>Historique</span>
        <ion-icon class="arrow-icon" name="chevron-forward" slot="end"></ion-icon>
      </li>
      <li (click)="goToPage('/adresse')">
        <ion-icon class="ion-icon" name="location"></ion-icon>  <!-- Adresse -->
        <span>Adresse</span>
        <ion-icon class="arrow-icon" name="chevron-forward" slot="end"></ion-icon>
      </li>
      <li (click)="goToPage('/centre-aide')">
        <ion-icon class="ion-icon" name="headset"></ion-icon>  <!-- Centre d'aide -->
        <span>Centre d'aide</span>
        <ion-icon class="arrow-icon" name="chevron-forward" slot="end"></ion-icon>
      </li>
      <li (click)="goToPage('/politiques-retour')">
        <ion-icon class="ion-icon" name="shield-checkmark-sharp"></ion-icon>  <!-- Politiques de retour -->
        <span>Politiques de retour</span>
        <ion-icon class="arrow-icon" name="chevron-forward" slot="end"></ion-icon>
      </li>
    </ul>
  </div>

  <div class="container mt-2">
    <button (click)="goToPage('/logout')" class="btn w-100">Déconnexion</button>
  </div>
</div>
