<ion-header class="top-bar">
  <ion-toolbar>

    <!--    &lt;!&ndash; Bouton Retour &ndash;&gt;-->
    <!--    <ion-buttons slot="start">-->
    <!--    <ion-button (click)="goToBack()">-->
    <!--      <ion-icon name="arrow-back-outline"></ion-icon>-->
    <!--    </ion-button>-->
    <!--  </ion-buttons>-->
    <ion-buttons slot="start">
      <i (click)="goToBack()" aria-hidden="true" class="fa fa-chevron-left back-icon"></i>
      <!--      <ion-icon (click)="goToBack()" class="back-icon" name="chevron-back"></ion-icon>-->
    </ion-buttons>

    <!--
        &lt;!&ndash; Logo Centré &ndash;&gt;
        <ion-title class="logo">
          <img src="/assets/logo/logo.png" alt="Sacko Services">
        </ion-title>-->

    <!-- Boutons de droite --><!--
    <ion-buttons slot="end" >
      <ion-button (click)="openProfile()">
        <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
      <ion-button (click)="openProfile()">
        <ion-label class="user-label p-2">
          {{ user?.first_name }} {{ user?.last_name }}
        </ion-label>
        <img *ngIf="user?.image" [src]="user.image" alt="Avatar" class="avatar"/>
        <ion-icon *ngIf="!user?.image" class="user-icon" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>

  <!-- Barre de recherche avec espacement -->
  <div class="search-container">
    <ion-searchbar mode="ios" placeholder="Rechercher un téléphone..."></ion-searchbar>
  </div>
</ion-header>
